<%- include layouts/header.ejs %>
    <div class="page-data">
    <table cellpadding="7">
        <tr>
            <td class="label">Hello <%=data[0].username%></td>
        </tr>
        <tr>
            <td class="label">Your personal info:</td>
        </tr>
        <tr>
            <td class="label">Email: <%=data[0].email%></td
        </tr>
    </table>
    </div>
<%- include layouts/footer.ejs %>
